.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.total{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.5vh;
  background-color: white;
  border-radius: 20px;
  height: 67vh;
  width: 15vw;
}

.top{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 2vh 6vh;
  border-radius: 20px 20px 0 0;
  text-align: center;
  height: 21vh;
  width: 9vw;
}

.image_container{
  position: relative;
  display: inline-block;
}

.starr{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4vw; /* Adjust the size as needed */
  height: 2.5vh;
  font-size: 95%;
  background-color: white;
  border-radius: 50%;
  width: 1vw;
}

#str1{
  color: gainsboro;
  font-size: 1.5vh;
}

#str2{
  color: gold;
}

img{
  max-width: 10vw;
  height: 16vh;
  display: block;
}

.down{
  background-color: gainsboro;
  border-radius: 0 0 20px 20px;
  width: 100%;
  text-align: center;
  height: 50vh;
}

img{
  border-radius: 50%;
  height: 72px;
  width: 70px;
}

.txt1{
  font-weight: bold;
  font-size: 2vh;
}

.txt2{
  font-weight: bold;
  color: gray;
}

.btm_txt2{
  font-weight: bold;
  color: gray;
}

h4{
  color: gray;
  font-weight: bold;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button{
  margin-bottom: 0.5vh;
  width: 9vw;
  padding: 0.5vh;
  background: none;
  border: none;
  border-radius: 5px;
}

#btn1{
  background-color: white;
  color: blue;
  font-size: 2vh;
}

#btn2{
  background-color: blue;
  color: white;
  font-size: 2vh;
}

#online{
  margin-right: 1vh;
  color: rgb(31, 247, 67);
}
